<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0929</title>
    <link rel="stylesheet" href="style.css">
    <link href="/public/favicon.ico" rel="icon" type="image/x-icon" />

</head>
<body>       

    <!-- ðŸ€c50 include, 
      ejs includeëŠ” commentì— ìžˆëŠ” ì½”ë“œë„ ì½ì–´ë²„ë¦¼. 
      ì¡°ì‹¬í•˜ìž
    -->
    <%- include('./nav_c50.html') %>

    <h1 class="title-page">/views/index.ejs : home </h1>
    <p>home</p>
    
</body>
</html>