<!-- 
<nav class="navbar">
  <div class="navbar__logo">
    <i class="fas fa-kiwi-bird"></i>
    
  </div>
  <div class="navbar__menu">           
    

    <ul>            
      <li><a href="/">home</a></li>
      <li><a href="/list">list</a></li>    
      <li><a href="/write">write</a></li>    

      <li><a href="/login">login</a></li>
      <li><a href="/register">register</a></li>      
      <li><a href="/mypage">mypage</a></li>
    </ul>    
 

  </div>
  <div class="navbar__icons">
    <li><i class="fab fa-odnoklassniki-square"></i></li>
    <li><i class="fas fa-skiing"></i></li>
  </div>

  <a href="#" class="footer">
    <i class="fas fa-align-justify"></i>
  </a>
</nav> -->