
<!--🦄c50,  👉detail.ejs -->
<!-- 
  🍀ejs include 문법 (= react components)
  
  views폴더에 만듬

  만들때: html형식  (ejs X)
  
  사용할때 : ejs형식에서만 사용 가능함 👉detail.ejs
    
  🍀html... meta code없어도 정상작동함
-->

<nav class="navbar">
  <div class="navbar__logo">
    <i class="fas fa-kiwi-bird"></i>
    <a href="">nav_c50.html</a>
  </div>
  <div class="navbar__menu">           
    
    <!-- 🍀href="/"만 넣어도 정상 작동함 
        href="/"
        href="http://localhost:3000" 
        href="http://localhost:3000/write" 
    -->
    <ul>            
      <li><a href="/">home</a></li>
      <li><a href="/write">write_24</a></li>
      <li><a href="/list">list_34</a></li>
      <li><a href="/list-reverse_c34">list-reverse_c34</a></li>
      <li><a href="/search_c68">search_68</a></li>
      <li><a href="/search_c70">search_c70</a></li>
      <li><a href="/update">update=put_c52</a></li>
    </ul>
    
    <ul> 
      <li><a href="/login">login_58</a></li>
      <li><a href="/mypage">mypage_62</a></li>
      <li><a href="/register_c72">register_c72</a></li>
      <li><a href="/upload">upload_c78</a></li>  
    </ul>    
    
    <ul> 
      <li><a href="/shop/shirts">/shop/shirts</a></li>
      <li><a href="/shop/pants">/shop/pants</a></li>
      <li><a href="/shop2/shirts">/shop2/shirts</a></li>
      <li><a href="/shop2/pants">/shop/pants</a></li>
      <li><a href="/zoo/lion">/zoo/lion</a></li>
      <li><a href="/zoo/dog">/zoo/dog</a></li>
    </ul>    

  </div>
  <div class="navbar__icons">
    <li><i class="fab fa-odnoklassniki-square"></i></li>
    <li><i class="fas fa-skiing"></i></li>
  </div>

  <a href="#" class="footer">
    <i class="fas fa-align-justify"></i>
  </a>
</nav>